<!-- password-reset.component.html -->

<div class="password-reset-container">
    <h2>Reset Password</h2>
    <form (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
      </div>
  
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
  
    <div class="message" [ngClass]="{'error-message': isError, 'success-message': !isError}" *ngIf="message">
      {{message}}
    </div>
  </div>
  